/* ********** Common Style ********** */
body {
    background-color: #000000;
    color: #e0e0e0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

/* ********** Navbar ********** */
.navbar {
    background-color: #0a0a0a;
}

.nav-link:hover {
    color: #ff4444;
}

/* ********** Main ********** */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    height: 90%;
    z-index: 5;
}

.carousel-item video {
    pointer-events: auto;
}

.carousel-indicators {
    margin-bottom: 5%;
}

.project-container {
    background-color: #0a0a0a;
    border-color: #222;
}

iframe {
    width: 712px;
    height: 400px;
}

.carousel {
    width: 712px;
}

/* ********** Footer ********** */
.footer {
    background-color: #0a0a0a;
}

/* ********** Media Queries ********** */
@media screen and (max-width: 767.98px) {
    .intro,
    .education,
    .projects,
    .contact-me {
        margin-top: 75px;
        margin-bottom: 0px;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    iframe {
        width: 323.63px;
        height: 181.81px;
    }

    .carousel {
        width: 323.63px;
    }
}