/* ********** Common Style ********** */
body {
    background-color: #0a0a0a;
    color: #e0e0e0;
}

/* ********** Navbar ********** */
.navbar {
    background-color: #141414;
}

.nav-link:hover {
    color: #ff4444;
}

/* ********** Main ********** */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    height: 90%;
    z-index: 5;
}

.carousel-item video {
    pointer-events: auto;
}

.carousel-indicators {
    margin-bottom: 5%;
}

.project-container {
    background-color: #141414;
    border-color: #222;
}

iframe {
    width: 712px;
    height: 400px;
}

.carousel {
    width: 712px;
}

/* ********** Footer ********** */
.footer {
    background-color: #141414;
}